<div class="container mt-4 d-flex">
  <div class="row w-100">
    <div class="col-md-12 d-flex flex-column justify-content-between align-items-center">
      <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <% @bookings.each do |booking| %>
          <div class="card-trip m-3 d-flex flex-column justify-content-start">
            <img src=<%= booking.grandparent.image %> />
            <div class="card-trip-infos">
              <div>
                <h2><strong><%= booking.title %></strong></h2> <br>
                <p><strong>Booking Date: </strong><%= booking.date.to_s[0..-8]%></p> <br>
                <p><strong>Booking Description: </strong><%= booking.description %></p>
              </div>
            </div>
            <div class="container d-flex justify-content-between align-items-center mb-3">
              <p></p>
            </div>
          </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
