<div class ="category-tab-bar">
  <ul class ="category-tabs">
    <a class="category-link" href="#" tag="#" >Homemaker Grandparents</a>
    <a class="category-link" href="#" tag="#" >Empathetic Grandparents</a>
    <a class="category-link" href="#" tag="#" >Unconditional-love Grandparents</a>
    <a class="category-link" href="#" tag="#" >Detached Grandparents</a>
    <input class="category-link" type="text" id="nav_search" placeholder="Search Category...">
  </ul>
</div>
