<img src=<%= grandparent.image %> width="200" height="100"/>
<h3><%= grandparent.name %></h3>
<p><%= grandparent.location %></p>
<button type="button" class="btn btn-primary">View <%= grandparent.name %>'s Profile</button>
