<div class="container">
  <div class="row-justify-content-center">
    <div class="col-12">
    <% @grandparents.each do |grandparent| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Face_detail%2C_Manzanar_Relocation_Center%2C_Manzanar%2C_California._Grandfather_and_grandson_of_Japanese_ancestry_at_._._._-_NARA_-_537994_%28cropped%29.jpg/275px-Face_detail%2C_Manzanar_Relocation_Center%2C_Manzanar%2C_California._Grandfather_and_grandson_of_Japanese_ancestry_at_._._._-_NARA_-_537994_%28cropped%29.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= grandparent.name %></h5>
          <p class="card-text"><%= grandparent.description %></p>
          <a href="#" class="btn btn-primary">Hire Me</a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
