

<div class="container mt-4 d-flex">
  <div class="row w-100">
    <div class="col-md-12 d-flex flex-column justify-content-between align-items-center">
      <div class="container-fluid d-flex justify-content-end">
        <h2 class="btn btn-primary"><%= @grandparents.count %> Grandparents</h2>
      </div>
      <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <% @grandparents.each do |grandparent| %>
          <div class="card-trip m-3 d-flex flex-column justify-content-start">
            <img src= "https://i.guim.co.uk/img/media/3aab8a0699616ac94346c05f667b40844e46322f/0_123_5616_3432/master/5616.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=787f2043553cbb582a5b884880cc9b55"/>
            <div class="card-trip-infos">
              <div>
                <h2><%= grandparent.name %></h2>
                <p><%= grandparent.description %></p>
              </div>
            </div>
            <div class="container d-flex justify-content-between align-items-center mb-3">
              <h2><i class="fa-solid fa-map-location-dot"></i> - <%= grandparent.location %></h2>
            </div>
          </div>
        <% end %>
    </div>
    </div>
  </div>
</div>
