<div class="container">
  <div class="row-justify-content-center">
  <h1>Create A New Grandparent</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Grandparent Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter Description of Grandparent">
      </div>
      <div class="form-group">
        <label for="availability">Availability</label>
        <input type="date" class="form-control" id="availability" placeholder="Enter availability of Grandparent">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" placeholder="Enter Location of Grandparent">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
        <h1><%= @Grandparent %>'s Profile</h1>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.thedailymeal.com/sites/default/files/2020/03/03/00_hed_iStock.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://thumbs.dreamstime.com/b/happy-senior-woman-gardening-smiling-beautiful-spring-day-172595717.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://image.shutterstock.com/image-photo/grandmother-knitting-colorful-laces-balls-260nw-1347653552.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>



