<div class="banner" style="background-image: url('https://i.imgur.com/tBVSsXI.png');">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Hire A Grandparent</h1>
        <h4>Creating wholesome and unique experiences with your own new grandparent</h4>
        <p> <small>🎧 Brought to you by the BiteJockey team 🎧</small></p>
        <%= link_to "Search Grandparents", grandparents_path, class:"btn btn-outline-primary" %>
      </div>
      <div class="col-sm-6">
        <%= image_tag "CookingGal.png" %>
      </div>
    </div>
  </div>
</div>
