.category-tabs {
display: flex;
flex-flow: row wrap;
color: #4A4A4A;
}

.nav-link {
  justify-content: space-between;
  color: #4A4A4A;
  text-decoration: none;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-block-start: 12px;
}

.nav-item :hover {
  opacity: 1;
  color: lightgrey;
}
