.navbar-lewagon {
  justify-content: space-around;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin: 0px;
  padding: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
}

.navbar-nav {
  display: inline;
}

.nav-item .nav-link {
  justify-content: space-between;
  color: white;
  text-decoration: none;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 12px;
}

.nav-item :hover {
  opacity: 1;
  color: lightgrey;
}

.avatar {
  margin-left: 12px;
}
